@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-1-blue: 60, 145, 230;
  --clr-2-black: 52, 46, 55;
  --clr-3-green: 162, 215, 41;
  --clr-4-white: 250, 255, 253;
  --clr-5-orange: 250, 130, 76;
}
body {
  font-family: "Space Mono", serif;
  background: linear-gradient(rgb(var(--clr-1-blue)) 50%, rgb(var(--clr-2-black)) 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box{
  position: relative;
  input{
    width: 100%;
    padding: 1em;
    outline: none;
    border: none;
    margin-bottom: 1em;
  }
}
#main-box{
  display: none;
}
#main-box.active{
  display: block;
}
.search-icon{
  position: absolute;
  background-color: rgb(var(--clr-2-black));
  color: rgb(var(--clr-4-white));
  width: 40px;
  padding: 0.6em 0.85em;
  border: 2px solid rgb(var(--clr-4-white));
  height: 40px;
  border-radius: 50%;
  border: 20px;
  top: 2px;
  right:5px;
  cursor: pointer;
  transition: all 0.6s;
}
.search-icon:hover{
  background-color: rgb(var(--clr-4-white));
  color: rgb(var(--clr-2-black));
}
img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.main-profile{
  margin-top: 2em;
  border: rgb(var(--clr-4-white)) 4px solid;
  width: max-content;
  padding: 0.3em;
  border-radius: 50%;
  margin-inline: auto;
}
.container{
  width: 100%;
  padding: 2em;
  max-width: 450px;
  background: linear-gradient(rgb(var(--clr-2-black)) 50% ,rgb(var(--clr-1-blue)) 50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile-info{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(var(--clr-4-white));
}
.joined{
  font-weight: 700;
}
.follows{
  display: flex;
  padding: 2em;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
#following,#followers{
  padding: 0.5em;
  margin-top: 0.5em;
  font-size: 1.3rem;
  font-weight: 700;
  display: block;
  border-radius: 0.5em;
}
#following{
  background-color: rgb(var(--clr-2-black));
  color: rgb(var(--clr-4-white));
}
#followers{
  background-color: rgb(var(--clr-4-white));
}
.locat,.repos{
  margin: 0.9em 0;
  font-weight: 500;
  i{
    font-size: 1.2rem;
  }
}
#location{
  text-transform: uppercase;
}
a{
  text-decoration: none;
  color: rgb(var(--clr-2-black));
}
#profile-git-link{
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: rgb(var(--clr-2-black));
}
#validity{
  color: rgb(var(--clr-4-white));
}
